.app{
    background-color: #060000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
   /* justify-content: space-between; */
    gap: 100px;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: #151515;
    padding-bottom: 10px;
}
/* @media only screen and (max-width: 768px){
    .app{
        gap: 70px;
    }
} */